{
  "repositoryUrl": "https://github.com/rshmdev/gapizer",
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run build && go build -o bin/gapizer.exe ./src/main.go && 'C:\\Program Files (x86)\\Inno Setup 6\\ISCC.exe' installer/gapizer_installer.iss"
      }
    ]
  ]
}
